<h1>New Book</h1>
<%= form_tag '/books', method:  :post do%>
  <p>Title: <input type="text", name="title"></p>
  <p>Description: <input type="text", name="description"></p>
  <p><input type="submit", text="Submit"></p>
<% end %>