<h1>Add New Movie</h1>

<%= form_tag "/movies", method:  :post do %>
  <p>Title: <input type="text", name="title"></p>
  <p>Tagline: <input type="text", name="tagline"></p>
  <p>Year: <input type="integer", name="year"></p>
  <p><input type="submit", value="Submit"></p>
  <br>
<% end %>  